<div class="faq">
<h1>Sample Animation:-</h1>
<div class="animationBlock">
   <button (click)="animate()">Click Me</button>
   <div [@myanimation] = "state" class="rotate">
    <p>Sample animation</p>
   </div>
</div>
 <!-- <input type="text" [(ngModel)]="myValue"/>
 <p>{{myValue}}</p> -->
</div>
