.faq{
  width:100%;
  height:100%;
  float: left;
}
h1{
    margin-top: 20px;
    text-align: center;
};
.animationBlock{
    margin: 0 auto;
    text-align: center;
    width:200px;
}
.rotate{
  width:100px;
  height:100px;
  border:solid 1px red;
}
