.about{
  width:100%;
  height:100%;
  float: left;
}
h1{
    margin-top: 20px;
    text-align: center;
};

.error_validation{
  color:red;
}
.conditions1{
  float:left;
}
.conditions2{
  float:left;
}
