<div class="about">
<!-- <table>
  <th>FAQ:-</th>
  <tr>
    <td>ID</td>
    <td>QUESTION</td>
    <td>DESCRIPTION</td>
  </tr>
  <tr *ngFor="let faq of faqList">
    <td>{{faq.id}}</td>
    <td>{{faq.question}}</td>
	<td>{{faq.answer}}</td>
  </tr>
</table> -->
<!-- example for structural directive changes -->


<div> Months :
   <select>
      <option *ngFor="let month of months">{{month}}</option>
   </select>
</div>

<ul>
    <li *ngFor="let month of months; let i = index">{{i}} {{month}}</li>
</ul>

<div class="conditions1">
   <p *ngIf="isavailable; else condition1">Condition is valid.</p>
   <ng-template #condition1>Condition is invalid</ng-template>
</div>
<br/>
<div class="conditions2">
   <h1 *ngIf = "istemplate;then condition1 else condition2">Condition is valid.</h1>
   <ng-template #condition1>Condition is valid from template</ng-template>
   <ng-template #condition2>Condition is invalid from template</ng-template>
</div>
<div style="text-align:center;float:left;">
   <h2 appAbout>{{title}}</h2>
   <h3 *ngFor="let car of someData">{{car}}</h3>
</div>


</div>
