<div>
  <h1>
    Welcome to {{title | customPipe}}!
  </h1>
  <nav>
    <a  [routerLink]="['/home']" [routerLinkActive]="['active-link']">Home</a>
    <a  [routerLink]="['/about']" [routerLinkActive]="['active-link']">About</a>
    <a  [routerLink]="['/faq']" [routerLinkActive]="['active-link']">Faq</a>
  </nav>
  <router-outlet></router-outlet>
</div>
