html{
  width:100%;
  height:100%;
  background-color: #cccccc;
}
h1{
  text-align: center;
}
nav{
    width: 100%;
    display: block;
    max-width: 260px;
    margin: 0 auto;
    color: green;
    height: 100%;
    vertical-align: middle;
}
a{
  text-decoration: none;
  height:40px;
  float:left;
  width:30%;
  text-align: center;
  font-size:18px;
  text-transform: uppercase;
}
.active-link{
  color:red;
}
