.home{
  width:100%;
  height:100%;
  float:left;
  text-align: center;
}
.home_title{
  color:green;
  font-size:14px;
}
h1{
  font-size:14px;
  cursor: pointer;
  font-weight: normal;
}
p{
  font-weight:600;
  cursor:pointer;
}
