<div class="home">
  <h1 class="home_title">{{title | titlecase}}</h1>
  <a [routerLink]="['/faq']">{{appLink}}</a>
  <p *ngIf="appStatus" (click)="clicked();">{{appTitle}}</p>
<div [hidden]="isPipe">
    <h2>Date pipe</h2>
        <p><b>{{todaydate | date:'d/M/y'}}</b></p><br/>
        <p><b>{{todaydate | date:'shortTime'}}</b></p>
    <h3>Json Pipe</h3>
        <p><b>{{ jsonval | json }}</b></p>
</div>
</div>
